<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Ayr 接口列表</title>
    <link rel="stylesheet" href="/lib/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="/lib/node_modules/jquery/dist/jquery.js"></script>
    <script src="/lib/node_modules/bootstrap/dist/js/bootstrap.js"></script>
</head>

<body>
    <div class="container" id="root"><%- title %></div>
    
    <script src="/dest/vendor.js"></script>
    <script src="/dest/bundle.js"></script>
</body>

</html>