<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Ayr</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>

<body>
    <div class="container" id="root"><%- title %></div>
    
    <script src="/lib/dist/vendor.js"></script>
    <script src="/lib/dist/bundle.js"></script>
</body>

</html>